body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-container, .hero-container {
    background: #1F2937;
}

nav {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 24px;
}

.header-logo {
    text-decoration: none;
    color: #F9FAF8;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 96px 0;
    display: flex;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    font: inherit;
    border: none;
    padding: .5em 1.5em;
    border-radius: 5px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    flex: 1;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 80%;
    max-width: 800px;
    margin: 0;
}

.quote blockquote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    text-align: justify;
}

.quote figcaption {
    margin: 0;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    height: 64px;
}
